<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monopoly Banking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./../output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins";
      }
    </style>
  </head>
  <body class="">
    <div
      class="mx-auto w-fit py-1 px-8 border-8 mt-10 text-red-600 border-red-600 rounded-xl shadow-lg shadow-red-500/50"
    >
      <h1 class="text-9xl font-semibold">MONOPOLY</h1>
    </div>
    <div
      class="cursor-pointer bg-blue-600 mx-auto w-fit px-10 py-2 border-4 border-blue-700 -mt-3 -rotate-3 rounded-md shadow-lg shadow-blue-500/50"
    >
      <h1 class="text-4xl text-white font-bold">
        RFID CARD BANKING EDITION
      </h1>
    </div>

    <div class="grid grid-cols-5 text-center w-fit mx-auto gap-7 mt-20">
      <div
        class="h-64 w-48 border-4 border-red-500 mx-auto shadow-red-500/20 rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-red-600 transition-all hover:scale-105 hover:border-red-700 hover:shadow-red-500/50"
      >
        <input
          class="focus:outline-none focus:ring-2 focus:ring-red-800 text-center w-full bg-red-600 p-2 drop-shadow-md text-lg font-medium text-white rounded-sm border-4 border-red-700 group-hover:border-red-600 group-hover:bg-white group-hover:text-red-600"
        >
        </input>
        <div id="scan1"
          class="cursor-pointer bg-red-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-red-300 rounded-3xl flex place-items-center justify-center font-bold text-red-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-blue-500 mx-auto shadow-blue-500/20 rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-blue-600 transition-all hover:scale-105 hover:border-blue-700 hover:shadow-blue-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-blue-800 text-center w-full bg-blue-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-blue-700 group-hover:border-blue-600 group-hover:bg-white group-hover:text-blue-600"
        >
        </input>
        <div
        id="scan2"
          class="cursor-pointer bg-blue-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-blue-300 rounded-3xl flex place-items-center justify-center font-bold text-blue-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-violet-500 mx-auto shadow-violet-500/20 rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-violet-600 transition-all hover:scale-105 hover:border-violet-700 hover:shadow-violet-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-violet-800 text-center w-full bg-violet-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-violet-700 group-hover:border-violet-600 group-hover:bg-white group-hover:text-violet-600"
        >
        </input>
        <div
        id="scan3"
          class="cursor-pointer bg-violet-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-violet-300 rounded-3xl flex place-items-center justify-center font-bold text-violet-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 mx-auto border-green-500 shadow-green-500/20 rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-green-600 transition-all hover:scale-105 hover:border-green-700 hover:shadow-green-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-green-800 text-center w-full bg-green-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-green-700 group-hover:border-green-600 group-hover:bg-white group-hover:text-green-600"
        >
        </input>
        <div id="scan4"
          class="cursor-pointer bg-green-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-green-300 rounded-3xl flex place-items-center justify-center font-bold text-green-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-yellow-500 shadow-yellow-500/20 mx-auto rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-yellow-600 transition-all hover:scale-105 hover:border-yellow-700 hover:shadow-yellow-500/50"
      >
        <input 
          class=" focus:outline-none focus:ring-2 focus:ring-yellow-800 text-center w-full bg-yellow-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-yellow-700 group-hover:border-yellow-600 group-hover:bg-white group-hover:text-yellow-600"
        >
        </input >
        <div id="scan5"
          class="cursor-pointer bg-yellow-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-yellow-300 rounded-3xl flex place-items-center justify-center font-bold text-yellow-500"
        >
          scan
        </div>
      </div>

      <div
        class="h-64 w-48 border-4 border-lime-500 shadow-lime-500/20 mx-auto rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-lime-600 transition-all hover:scale-105 hover:border-lime-700 hover:shadow-lime-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-lime-800 text-center w-full bg-lime-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-lime-700 group-hover:border-lime-600 group-hover:bg-white group-hover:text-lime-600"
        >
        </input>
        <div id="scan6"
          class="cursor-pointer bg-lime-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-lime-300 rounded-3xl flex place-items-center justify-center font-bold text-lime-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-pink-500 shadow-pink-500/20 mx-auto rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-pink-600 transition-all hover:scale-105 hover:border-pink-700 hover:shadow-pink-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-pink-800 text-center w-full bg-pink-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-pink-700 group-hover:border-pink-600 group-hover:bg-white group-hover:text-pink-600"
        >
        </input>
        <div id="scan7"
          class="cursor-pointer bg-pink-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-pink-300 rounded-3xl flex place-items-center justify-center font-bold text-pink-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-sky-500 shadow-sky-500/20 mx-auto rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-sky-600 transition-all hover:scale-105 hover:border-sky-700 hover:shadow-sky-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:sky-red-800 text-center w-full bg-sky-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-sky-700 group-hover:border-sky-600 group-hover:bg-white group-hover:text-sky-600"
        >
        </input>
        <div id="scan8"
          class="cursor-pointer bg-sky-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-sky-300 rounded-3xl flex place-items-center justify-center font-bold text-sky-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-orange-500 shadow-orange-500/20 mx-auto rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-orange-600 transition-all hover:scale-105 hover:border-orange-700 hover:shadow-orange-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-orange-800 text-center w-full bg-orange-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-orange-700 group-hover:border-orange-600 group-hover:bg-white group-hover:text-orange-600"
        >
        </input>
        <div id="scan9"
          class="cursor-pointer bg-orange-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-orange-300 rounded-3xl flex place-items-center justify-center font-bold text-orange-500"
        >
          scan
        </div>
      </div>
      <div
        class="h-64 w-48 border-4 border-teal-500 shadow-teal-500/20 mx-auto rounded-lg py-4 px-4 shadow-md hover:shadow-lg group hover:bg-teal-600 transition-all hover:scale-105 hover:border-teal-700 hover:shadow-teal-500/50"
      >
        <input
          class=" focus:outline-none focus:ring-2 focus:ring-teal-800 text-center w-full bg-teal-600 p-2 text-lg font-medium text-white rounded-sm border-4 border-teal-700 group-hover:border-teal-600 group-hover:bg-white group-hover:text-teal-600"
        >
        </input>
        <div id="scan10"
          class="cursor-pointer bg-teal-300/50 mt-4 h-4/6 border-4 border-dashed group-hover:border-white group-hover:text-white border-teal-300 rounded-3xl flex place-items-center justify-center font-bold text-teal-500"
        >
          scan
        </div>
      </div>
    </div>
    <input id="rfid" type="number" class=" bg-green-200"> 
    <script src="../js/index.js"></script>
  </body>
</html>
